.gitattributes
/.pio
/.vscode
eff
data/*.json
include/user_config*.h
user_*.ini
/out_bin/*.*
/resources/embui.zip
/resources/wget.*
Uploader*.bat
/resources/etags.txt
/data/backup/btn/firelamp.json
/data/backup/evn/firelamp.json
/data/backup/glb/firelamp.json
/data/backup/idx/firelamp.json
