.gitattributes
.pio
.vscode
data/config.json
data/eff_config.json
data/events_config.json
include/user_config.h
user_*.ini
.vscode/extensions.json
.vscode/settings.json
.vscode/c_cpp_properties.json
/data/buttons_config.json
/Bin/*.*
backup
eff
/data/config_bkp.json
/data/eff_index.json
/resources/embui.zip
