input[type=range] {
	height: 30px;
	-webkit-appearance: none;
	margin: 5px 0;
	width: 100%;
	background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: inset 5px 9px 9px #777;
	background: transparent;
	border-radius: 12px;
	border: 1px solid #ccccccd9;
  }
  input[type=range]::-webkit-slider-thumb {
	width: 15px;
	height: 30px;
	border-radius: 30px;
	background-color: #1f8dd6;
	border: 1px solid #ccccccd9;
	box-shadow: 5px 9px 9px #777;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1f8dd6;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: inset 5px 9px 9px #777;
	background: transparent;
	border-radius: 12px;
	border: 1px solid #ccccccd9;
}

  input[type=range]::-moz-range-thumb {
	width: 15px;
	height: 30px;
	border-radius: 30px;
	background-color: #1f8dd6;
	border: 1px solid #ccccccd9;
	box-shadow: 5px 9px 9px #777;
    cursor: pointer;
	border: 1px solid #ccccccd9;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
	width: 15px;
	height: 30px;
	border-radius: 30px;
	background-color: #1f8dd6;
	border: 1px solid #777;
	box-shadow: 5px 9px 9px #777;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
  }
