label {white-space: nowrap;}
.left-block{margin-top: 25px; padding-top: 25px; border-top: 1px solid #777; font-weight: bold;}
.left-block div {display: flex; padding: 5px 10px 5px 5px; justify-content: space-between;}
.menu-value {color: #779;}
.checkbox-label{margin-left: 3em; position: relative; top: -2px;}
.switch-block {margin: 20px 0px 15px 0px;}
.header-block {color: #ccc;}
.nested {padding: 0px 10px 0px 10px; border: 1px solid #ccc;}
.mr {margin: 15px 0px 15px 0px !important;}
.spacer {text-align: center; font-weight: 300; color: #33c; padding-bottom: 10px; margin: 15px 0px 15px 0px; border-bottom: 1px solid #33c;}
.comment {margin: 1em 0;}
.frame {width: 100%; height: 480px; min-height: 50px; resize: vertical;}
.iframe {resize: vertical; width: 100%; height: 100%; frameborder: 0; scrolling:"yes";}
body {
  background-image: url('wp_light.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 12px;
	background-color: transparent;
	border-radius: 12px;
	transition: all 0.3s;
	box-shadow: inset 5px 9px 9px #777;
}

.switch::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 30px;
	border-radius: 30px;
	background-color: #AAA;
	border: 1px solid #777;
	box-shadow: 5px 9px 9px #777;
	top: -7px;
	left: 2px;
	transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px;
  background-color: #1f8dd6;
}
.checkbox:checked + .switch {
	background-color: transparent;
}
.checkbox {
  display : none;
}
