/*!
FireLamp_EmbUI overrides for EmbUI Styles
*/
.pure-g [class*=pure-u]{
	font-family:sans-serif;
	font-weight: bold;
	font-style: italic;
}
.pure-button{
	/* display:inline-block; */
	/* line-height:normal; */
	white-space:nowrap;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 100%;
	padding: .4375em  1em;
	color: rgb(255, 255, 255);
	border: 1px solid #ccccccd9;
	background-color: #0078e7;
	text-decoration: none;
	border-radius: 30px;
	box-shadow: 5px 9px 9px #777;
}
.pure-form input[type=color],
.pure-form input[type=date],
.pure-form input[type=datetime-local],
.pure-form input[type=datetime],
.pure-form input[type=email],
.pure-form input[type=month],
.pure-form input[type=number],
.pure-form input[type=password],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=text],
.pure-form input[type=time],
.pure-form input[type=url],
.pure-form input[type=week],
.pure-form select,
.pure-form textarea{
	padding: .375em 1em;
	display: inline-block;
	border: 1px #777;
	-webkit-box-shadow: inset 5px 7px 9px #777;
	box-shadow: inset 5px 7px 9px #777;
	border-radius: 30px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #d6e2f4;
}
.pure-form-stacked input[type=color],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=file],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=week],
.pure-form-stacked label,
.pure-form-stacked select,
.pure-form-stacked textarea{
	display:block;
}
.select-editable input{
	font-family:sans-serif;
	font-weight: bold;
	font-style: italic;
}
body {
  background-color: #333;
  background-image: url('wp_dark.svg'), url('wp_dark.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.button__text {
  vertical-align: super;
}
.button--loading {
  padding: 0 !important;
}